/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

app-nav-bar{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}

app-nav-bar a{
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.active{
    border-bottom: 1px solid black;
}

.postComponent{
    width: 250px;
    height: 250px;
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.postComponent img{
    width: 200px;
    height: 200px;
}

app-home-page{
    display: flex;
    flex-wrap: wrap;
}

.itemDescription{
    display: flex;
    background-color: rgba(100,100,100,0.7);
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    overflow: hidden;
}
.grid{
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50px 50px 50px 50px 50px;
    font-size: 20px;
    width: 60%;
    margin: 100px auto;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid indianred;
}

.grid div{
    border-bottom: 1px solid indianred;
    margin-bottom: 10px;
    text-align: center;
}

.form{
    height: 250px;
    margin: 100px auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.form-group{
    background: lightgrey;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.form-group label{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.form-group input{
    width: 80%;
}
textarea{
    resize: none;
}
.addPost{
   font-size: 210px;
   background-color: lightgrey;
   font-weight: bold;
   color: darkgray;
}

.popUp{
    display: flex;
    position: absolute;
    background-color: rgba(100,100,100,0.9);
    justify-content: center;
    left: 50%;
    margin:100px -12.5%;
    border: 3px solid gray;
    border-radius: 10px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.popUp button{
    width:100px;
}

.popUp form{
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.width100{
    width: 100%;
}

.loading{
    position: absolute;
    width: 200px;
}